name: API Automation Tests

on:
  push:
    branches: [ main ]
    # paths:
    #   - 'qa-automation/postman'
    # workflow_dispatch:

jobs:
  run-api-tests:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Install Node
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install Newman
        run: npm install -g newman

      - name: Run Postman Collection
        run: |
          newman run qa-automation/postman/clientrunner_api.postman_collection.json \
          -e qa-automation/postman/clientrunner.postman_environment.json \
          --reporters cli --verbose